@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.app {
  animation: scroll 150s linear infinite;
  background: url("../public/pictures/starry-night-sky.jpg");
  /* background: url("https://img.freepik.com/free-photo/abstract-geometric-background-shapes-texture_1194-301824.jpg?w=1380&t=st=1706053741~exp=1706054341~hmac=2c3a37ce781a1de664fe63583d705bd81de749db3c68df23cf352f6b74e3e766"); */
  /* background: url("https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=740&t=st=1706053838~exp=1706054438~hmac=dd1c37756613a95dee7083ce287d171e84fae7ec642d5a3b5400c39f15eab4fc"); */
  color: #eee;
  background-size:cover;
  height: 100vh;
  /* min-width: 360px; */
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* perspective: 1000px; */
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  --mainColor: #161616;
  --secondaryColor: whitesmoke;
  --thirdColor: #243874;
  --backColor: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  --primaryTextColor: whitesmoke;
  --secondaryTextColor: black;
  --fontType: 'Bebas Neue';
  --navbarTextColor: whitesmoke;

}


body {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* background-color: violet; */

}
.app {
  min-height: 100vh;
  /* padding-top: 10%; */
}


.main {
  /* background-color: blueviolet; */
  flex: 1;
  /* min-width: 100%; */

  /* equal to footer height*/

}
