@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  --mainColor: #161616;
  --secondaryColor: whitesmoke;
  --thirdColor: #243874;
  --backColor: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  --primaryTextColor: whitesmoke;
  --secondaryTextColor: black;
  --fontType: 'Bebas Neue';
  --navbarTextColor: whitesmoke;

}

body {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* background-color: violet; */

}
.app {
  min-height: 100vh;
  /* padding-top: 10%; */
}


.main {
  /* background-color: blueviolet; */
  flex: 1;
  /* min-width: 100%; */

  /* equal to footer height*/

}
